<% include header %>

	<!-- Nav Bar -->
	<nav class="nav">
		<ul>
			<li><a href="/admin/editPage">Add Page</a></li>
			<li><a href="/admin/editAccount">Edit Account</a></li>
			<li><a href="/admin/logout">Log Out</a></li>
		</ul>
	</nav>

	<header class="header">
		<h1> Table of Pages </h1>
	</header>

	<div class="table">
		<table>
		  <tr>
		    <th>Title</th>
		    <th>Updated</th>
		    <th>Options</th>
		  </tr>
			<% for(var i = 0; i < user.length; i++) { %>
		  <tr>
		    <td class="titleCol"><a href="/<%= user[i].title %>"> <%= user[i].title %> </a></td>
				<td class="updated"> <%= user[i].updateDate %> </td>
		    <td class="options">
					<input type="button" class="button" onclick="location.href='/admin/delete/<%= user[i].url%>';" value="Delete" />
					<input type="button" class="button" onclick="location.href='/admin/editPage';" value="Edit" />
					<input type="button" class="button" onclick="location.href='/admin/editPage';" value="Visibility" />
			</form>
		    </td>
		  </tr>
			<% } %>
		</table>
	</div>

<% include footer %>
