<% include header %>

	<!-- Nav Bar -->
	<nav class="nav">
		<ul>
			<li><a href="/admin/editPage">Add Page</a></li>
			<li><a href="/admin/editAccount">Edit Account</a></li>
			<li><a href="/admin/logout">Log Out</a></li>
		</ul>
	</nav>

	<header class="header">
		<h1> Table of Pages </h1>
	</header>

	<div class="table">
		<table>
		  <tr>
		    <th>Title</th>
		    <th>Updated</th>
		    <th>Options</th>
		  </tr>
			<% for(var i = 0; i < email.length; i++) { %>
		  <tr>
		    <td class="titleCol"><a href="/<%= email[i].title %>"> <%= email[i].title %> </a></td>
		    <td class="updated">Jan 8, 2018, 2:50 PM</td>
		    <td class="options">
				<button  class="button">Delete</button>
				<button  class="button">Edit</button>
				<button  class="button">Visibility</button>
		    </td>
		  </tr>
			<% } %>
		  <!-- <tr>
		    <td class="titleCol"><a href="#">Template2</a></td>
		    <td class="updated">Jan 1, 2018, 8:50 AM</td>
		    <td class="options">
				<button class="button">Delete</button>
				<button  class="button">Edit</button>
				<button class="button">Visibility</button>
		    </td>
		  </tr>
		    <td class="titleCol"><a href="#">Template3</a></td>
		    <td class="updated">Dec 26, 2017, 3:45 PM</td>
		    <td class="options">
				<button class="button">Delete</button>
				<button  class="button">Edit</button>
				<button  class="button">Visibility</button>
		    </td>
		  </tr> -->
		</table>
	</div>

<% include footer %>
