<% include header %>

<header class="header">
	<h1>Edit Page</h1>
</header>

<div class="container">
	<form method="POST" action="/admin/addPage">
		<div class="section">
			<label id="title" >
				Title:
				<% if (user.title) { %>
					<input type="text" name="title" value= <%=user.title%> >
				<%} else { %>
					<input type="text" name="title" placeholder="My Template">
				<% } %>

			</label>
		</div>

		<div class="section">
			<label id="url">
				URL:
				<% if (user.url) { %>
					<input type="text" name="url" value= "<%=user.title%>" >
				<%} else { %>
					<input type="text" name="url" placeholder="http://www.myTemplate.com">
				<% } %>

			</label>
		</div>

		<div class="section">
			<label id="template">
				Template:
				<select>
				  <option value="Template1">Template 1</option>
				  <option value="Template2">Template 2</option>
				  <option value="Template3">Template 3</option>
				  <option value="Template4">Template 4</option>
				</select>
			</label>
		</div>

		<div class="section">
			<label id="title" >
				Header: <input type="text" name="header" placeholder="About">
			</label>
		</div>

		<div id="content">
			<label>
				Content:
				<% if (user.content) { %>
					<textarea rows="8" cols="50" name="content" value= "" > <%=user.content%> </textarea>
				<%} else { %>
					 <textarea rows="8" cols="50" name="content" placeholder="Welcome to my website!"></textarea>
				<% } %>

			</label>
		</div>

		<br>
		<br>
		<hr>
		<br>

		<div class="section">
			<label id="title" >
				Header: <input type="text" name="header2" placeholder="News">
			</label>
		</div>

		<div id="content">
			<label>
				Content: <textarea rows="8" cols="50" name="content2" placeholder=""></textarea>
			</label>
		</div>
		<br>

		<div>
			<button id="editPageSave" class="button">Save</button>
		</div>


	</form>

</div>

<% include footer %>
