<% include header %>

<!-- Nav Bar -->
<!-- <nav class="nav">
	<ul>
		<li><a href="/admin">Dashboard</a></li>
		<li><a href="/admin/addPage">Add Page</a></li>
		<li><a href="/admin/editAccount">Edit Account</a></li>
		<li><a href="/admin/logout">Log Out</a></li>
	</ul>
</nav> -->

	<nav>
			<ul>
				<li><a href="/admin">Dashboard</a></li>
					<!-- <li class="parent"><a href="#">Templates</a>
							<ul class="child">
									<li><a href="#">Stale Breads</a></li>
									<li><a href="#">Peanuts</a></li>
									<li><a href="#">Pepper</a></li>
							</ul>
					</li> -->
					<li><a href="/admin/addPage">Add Page</a></li>
					<li><a href="/admin/editAccount">Edit Account</a></li>
					<li><a href="/admin/logout">Log Out</a></li>
			</ul>
	</nav>

	<header class="header">
			<h2>Edit User Account</h2>
	</header>

	<div class="edit">
		<form method="POST" action="/admin/updateAccInfo">
		    Email: <input type="text" name="email" placeholder="user@gmail.com" required>
		    <br><br>
		    Password: <input type="password" name="password" placeholder="********" required>
		    <br><br>
		    <input type="submit" value="Save">
		</form>
	</div>


<% include footer %>
