<% include header %>


	<header class="header">
			<h2>Edit User Account</h2>
	</header>

	<div class="edit">
		<form method="POST" action="/admin/updateAccInfo">
		    Email: <input type="text" name="email" placeholder="user@gmail.com" required>
		    <br><br>
		    Password: <input type="password" name="password" placeholder="********" required>
		    <br><br>
		    <input type="submit" value="Save">
		</form>
	</div>


<% include footer %>
