	<!-- <footer>
		<p> Footer text </p>
	</footer> -->
  <script type="text/javascript" src="/assets/content-tools.min.js"></script>
	<script type="text/javascript" src="/assets/editor.js"></script>
</body>

</html>
