body {
  margin: 0;
  height: 100%;
}
* {
    box-sizing: border-box;
}

.nav {
	width: 100%;
}

.nav ul {
	padding: 0px;
	margin: 0px;
  	text-align:center;
}
.nav li {
	list-style-type: none;
	padding: 0px;
  	display:inline;

}
.nav li a {
	color: #dab3ff;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 8px;
}

.nav li a:hover:not(.active) {
    font-style: italic;
    color: #6900cc;
}

.header {
	text-align: center;
}

#about {
	padding: 10px;
}

#news {
	padding: 10px;
}
#news .column {
    float: left;
    width: 50%;
}

#news .row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
	text-align: center;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #dab3ff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* test */
/* Main Navigation */
nav {
    background: #444;
    width: 100%;
    margin-bottom: 2%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}
nav ul li:hover {
    background: #444;
}

nav ul li a {
    color: #dab3ff;
    text-decoration: none;
    padding: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
  nav ul li a:hover {
    font-style: italic;
    /* color: #6900cc; */
    text-decoration: none;
  }

/* Sub Menu */
nav ul li.parent ul.child {
    display: none; /* Hide Sub Menu */
}
nav ul li.parent:hover ul.child {
    display: block; /* Show Sub Menu on Hover */
    position: absolute;
    top: 40px;
    background: #444;
}

nav ul li.parent ul.child li {
    width: 9em;
    padding: 0;
}

nav ul li.parent ul.child li a {
    display: block;
}
/*  test */


/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}

.author {
   font-style: italic;
   font-weight: bold;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
}
